body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:18px;
  width:740px;
  height:104px;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:159px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:0px;
  width:137px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:0px;
  width:148px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:0px;
  width:148px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:148px;
  height:68px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:144px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:36px;
  width:159px;
  height:68px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:68px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:36px;
  width:137px;
  height:68px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:36px;
  width:148px;
  height:68px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:144px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:36px;
  width:148px;
  height:68px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:144px;
  word-wrap:break-word;
}
