body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:18px;
  width:740px;
  height:104px;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:159px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:0px;
  width:137px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:0px;
  width:148px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:0px;
  width:148px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:148px;
  height:68px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:144px;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:36px;
  width:159px;
  height:68px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:68px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:36px;
  width:137px;
  height:68px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:36px;
  width:148px;
  height:68px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:144px;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:36px;
  width:148px;
  height:68px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:144px;
  word-wrap:break-word;
}
