body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:18px;
  width:444px;
  height:172px;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:235px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:0px;
  width:61px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:148px;
  height:68px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:144px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:68px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:36px;
  width:235px;
  height:68px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:231px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:68px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:36px;
  width:61px;
  height:68px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:148px;
  height:68px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:144px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:68px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:104px;
  width:235px;
  height:68px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:231px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:68px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:104px;
  width:61px;
  height:68px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
